/*======= RESET ============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: none;
  visibility: hidden;
}

/*======= VARIABLES ============================*/
:root {
  --header-height: 5rem;

  /* colors */
  --hue: 16;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 50%);
  --base-color-second: hsl(var(--hue) 99% 58%);
  --base-color-alt: hsl(var(--hue) 99% 68%);
  --title-color: hsl(var(--hue) 100% 50%);
  --text-color: hsl(240 1% 29%);
  --text-color-light: hsl(240 0% 58%);
  --text-color-active: hsl(240, 3%, 19%, 1);
  --body-color: hsl(0 0% 98%);
  --body-color-light: hsl(230 1% 90%);
  --button-color: hsl(240 22% 95%);
  --button-color-hover: hsl(100%, 50%);
  --card-background: hsl(240, 22%, 95%);

  /* fonts */
  --title-font-size: 2rem;
  --subtitle-font-size: 1.125rem;
  --label-font-size: 0.875rem;
  --input-font-size: 0.75rem;
  --body-font-size: 1rem;

  --body-font: 'Metropolis';
  --body-font-semibold: 'Metropolis-semibold';
  --body-font-bold: 'Metropolis-bold';
}

/*======= FONTS ============================*/

@font-face {
  font-family: 'metropolis';
  src: url(../assets/fonts/Metropolis-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis-semibold';
  src: url(../assets/fonts/Metropolis-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'metropolis-bold';
  src: url(../assets/fonts/Metropolis-Bold.otf);
  font-style: normal;
  font-weight: 700;
}

/*========= BASE ========*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--body-font-size) var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  margin-top: 8rem;
}

h2 {
  font: 600 var(--subtitle-font-size) var(--body-font-semibold);
  color: var(--title-color);
  text-align: center;
  margin-bottom: 1rem;
}

h3 {
  font: 600 var(--label-font-size) var(--body-font);
  color: var(--text-color-light);
  margin-bottom: 0.2rem;
  line-height: 1.5rem;
}

p {
  font: 700 var(--body-font-size) var(--body-font);
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

label {
  font: 400 var(--label-font-size) var(--body-font);
  color: var(--text-color-light);
}

span {
  font: 400 var(--input-font-size) var(--body-font);
}

.title {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: var(--text-color-active);
  -webkit-font-smoothing: auto;
}

/* Datepicker*/

.calendar {
  display: inline-block;
}

#calendar-icon {
  background: var(--body-color);
  color: var(--text-color-light);
  border-radius: 0.5rem;
  border-color: var(--body-color-light);
  border-width: 1px;
  font: 400 var(--label-font-size) var(--body-font);
  height: 3rem;
  padding: 1rem;
  width: 100%;
  max-width: 24rem;
  background-image: url(../assets/icons/Type-Calendar-gray.svg);
  background-position: 94% center;
  background-repeat: no-repeat;
  background-size: 16px;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type='date']::-webkit-calendar-picker-indicator {
  opacity: 0;
  cursor: pointer;
}

/* adjust increase/decrease button */
input[type='date']::-webkit-inner-spin-button {
  z-index: 1;
}

/* adjust clear button */
input[type='date']::-webkit-clear-button {
  z-index: 1;
}

.backbutton {
  display: flex;
  align-items: flex-start;
}

.icon-TypeBack-Left {
  width: 40px;
  border: none;
  background-color: var(--body-color);
  color: var(--base-color);
  padding-right: 5rem;
}

button {
  max-width: 24rem;
  background-color: var(--base-color-second);
  color: var(--body-color);
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 1rem;
  font: 400 var(--body-font-size) var(--body-font);
  border-radius: 10px;
  border-color: var(--body-color-light);
  border-width: 1px;
  transition: background 0.3s;
}

button:hover {
  background-color: rgba(254, 68, 0, 1);
  color: var(--body-color);
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

.unity {
  display: flex;
  flex-direction: row;
  vertical-align: baseline;
}

.unidade-negocio {
  margin-left: 1rem;
  padding-top: 0.22rem;
}

/* Hide the browser's default radio button */
input[type='radio'] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  margin: 0.3rem 0px 0px 0.3rem;
}

/* Create a custom radio button */
.checkmark {
  display: flex;
  flex-direction: column;
  height: 20px;
  width: 20px;
  background-color: var(--body-color);
  border-radius: 50%;
  border: 2px solid #949495;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #ff4400;
  border: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
  width: 10px;
  height: 10px;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
  border-radius: 50%;
  background: #ff4400;
  margin: 2px 2px;
  border: 3px solid white;
}

/*======= LAYOUT ========*/

.logo-op {
  display: flex;
  align-items: center;
}

.logo {
  font: 400 var(--body-font-size) var(--body-font);
  color: var(--title-color);
}

.logo strong {
  font: 700 var(--body-font-size) var(--body-font-bold);
}

.icon-TypeLogout {
  display: none;
  visibility: hidden;
}

.container {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 32px;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.card {
  display: flex;
  flex-direction: column;
  max-width: 24rem;
  margin-bottom: 1.5rem;
  background: var(--body-color);
  border-radius: 0.5rem;
  height: 4.5rem;
  padding: 1rem;
  border-color: var(--body-color-light);
  border-style: solid;
  border-width: 1px;
  transition: all 0.2s ease-out;
}

.card:hover {
  box-shadow: 0 3px 10px 0 #aaa;
  border-color: rgba(148, 148, 149, 1);
  transform: translateY(-5px);
  cursor: pointer;
}

.active {
  box-shadow: 0 3px 10px 0 #aaa;
  border-color: rgba(148, 148, 149, 1);
  transform: translateY(-5px);
  cursor: pointer;
}

.type-label {
  display: inline;
  margin-right: 20px;
  color: var(--text-color-light);
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.col {
  flex: 1;
  display: block;
}

.icon-Size-32px {
  font: 600 var(--body-font-size) var(--body-font-semibold);
  color: var(--base-color);
  padding-right: 7px;
}

.container select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: relative;
  height: 3rem;
  max-width: 24rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border-color: var(--body-color-light);
  font: 400 var(--label-font-size) var(--body-font);
  color: var(--text-color-light);
  background: var(--body-color);
  background-image: url(../assets/icons/chevron-down-gray.svg);
  background-position: 95% center;
  background-repeat: no-repeat;
  background-size: 24px;
  cursor: pointer;
}

textarea {
  max-width: 24rem;
  background: var(--body-color);
  border-width: 1px;
  border-radius: 0.5rem;
  border-color: var(--body-color-light);
  font: 400 var(--input-font-size) var(--body-font);
  color: var(--text-color-light);
  width: 100%;
  height: 5rem;
  padding: 1rem;
}

#header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2rem;
  display: flex;
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  /*quando quiser mudar a cor durante scroll*/
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/*=========  NAVIGATION  ========= */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  font-weight: 600;
  color: var(--base-color);
  transform: translateY(-2px);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active:hover {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar Menu*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 60%;

  position: fixed;
  top: 0;
  right: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-TypeX {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.7rem;
  right: 1.7rem;

  transition: 0.2s;
}

nav.show div.icon-TypeX {
  visibility: visible;
  opacity: 1;
  top: 1.7rem;
}

/*======== Section =========*/

.col {
  display: flex;
}

/* Responsive */
/*========= MEDIA QUERIES ======================*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  :root {
    --subtitle-font-size: 2rem;
    --label-font-size: 1rem;
    --input-font-size: 0.875rem;
  }
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  .booking-container {
    display: flex;
    justify-content: center;
  }

  .form {
    margin-right: 11rem;
  }

  .section {
    padding-left: 7rem;
  }

  .icon-TypeLogout {
    display: flex;
    opacity: 1;
    visibility: visible;
    color: var(--text-color);
  }

  #leave {
    display: none;
    visibility: hidden;
  }

  img {
    display: flex;
    right: 0;
    opacity: 1;
    visibility: visible;
    height: 68.6875rem;
    width: 30.25rem;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font-bold);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-TypeMenu {
    display: none;
  }
}

/* large devices: tablet > */
@media only screen and (min-width: 425px) and (max-device-width: 1199px) {
  .booking-container {
    display: flex;
    max-width: 28rem;
    margin-left: auto;
    margin-right: auto;
  }

  .icon-TypeBack-Left {
    padding-right: 6.3rem;
  }
}
