/*======= RESET ============================*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  width: 350px;
  height: auto;
}

.image {
  display: flex;
  justify-content: space-around;
}
/*======= VARIABLES ============================*/
:root {
  --header-height: 5rem;

  /* colors */
  --hue: 16;
  /* HSL color mode */
  --base-color: hsl(var(--hue) 100% 50%);
  --base-color-second: hsl(var(--hue) 99% 58%);
  --base-color-alt: hsl(var(--hue) 99% 68%);
  --title-color: hsl(var(--hue) 100% 50%);
  --text-color: hsl(240 1% 29%);
  --text-color-light: hsl(240 0% 58%);
  --text-color-active: hsl(240, 3%, 19%, 1);
  --body-color: hsl(0 0% 98%);
  --body-color-light: hsl(230 1% 90%);
  --button-color: hsl(240 22% 95%);
  --button-color-hover: hsl(100%, 50%);
  --card-background: hsl(240, 22%, 95%);

  /* fonts */
  --title-font-size: 2rem;
  --subtitle-font-size: 1.125rem;
  --label-font-size: 0.875rem;
  --input-font-size: 0.75rem;
  --body-font-size: 1rem;

  --body-font: 'Metropolis';
  --body-font-semibold: 'Metropolis-semibold';
  --body-font-bold: 'Metropolis-bold';
}

/*======= FONTS ============================*/

@font-face {
  font-family: 'metropolis';
  src: url(../assets/fonts/Metropolis-Regular.otf);
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'metropolis-semibold';
  src: url(../assets/fonts/Metropolis-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}

@font-face {
  font-family: 'metropolis-bold';
  src: url(../assets/fonts/Metropolis-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
/*========= BASE ========*/

html {
  scroll-behavior: smooth;
}

body {
  font: 400 var(--body-font-size) var(--body-font);
  color: var(--text-color);
  background: var(--body-color);
  -webkit-font-smoothing: antialiased;
  margin-top: 8rem;
}

h1 {
  font: 700 var(--title-font-size) var(--body-font-bold);
  color: var(--title-color);
  text-align: left;
}

p {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: var(--text-color-active);
  width: 200px;
}

.title {
  font: 400 var(--subtitle-font-size) var(--body-font);
  color: var(--text-color-active);
  -webkit-font-smoothing: auto;
}

button {
  background-color: var(--base-color-second);
  color: var(--body-color);
  height: 3rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 24rem;
  margin-left: auto;
  margin-right: auto;
  padding: 1rem;
  font: 400 var(--body-font-size) var(--body-font);
  border-radius: 10px;
  border-color: var(--body-color-light);
  border-width: 1px;
  transition: background 0.3s;
  margin-bottom: 12.1875rem;
}

button:hover {
  background-color: rgba(254, 68, 0, 1);
  color: var(--body-color);
  cursor: pointer;
}

button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, 0.6),
    inset 2px 2px 3px rgba(0, 0, 0, 0.6);
}

/*======= LAYOUT ========*/

.logo-op {
  display: flex;
  align-items: center;
}

.logo {
  font: 400 var(--body-font-size) var(--body-font);
  color: var(--title-color);
}

.logo strong {
  font: 700 var(--body-font-size) var(--body-font-bold);
}

.icon-TypeLogout {
  display: none;
  visibility: hidden;
}

.container {
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 32px;
}

.container-image {
  display: flex;
  justify-content: center;
  margin-bottom: 3rem;
  padding-top: 1rem;
}

.sucess-container {
  max-width: 30rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.icon-Size-32px {
  color: var(--base-color);
  padding-right: 7px;
}

#header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 2rem;
  display: flex;
  height: var(--header-height);

  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  background-color: var(--body-color);
  width: 100%;
}

#header.scroll {
  /*quando quiser mudar a cor durante scroll*/
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
}

/*=========  NAVIGATION  ========= */
nav {
  height: var(--header-height);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

nav ul li {
  text-align: center;
}

nav ul li a {
  transition: color 0.2s;
  position: relative;
}

nav ul li a:hover,
nav ul li a.active {
  font-weight: 600;
  color: var(--base-color);
  transform: translateY(-2px);
}

nav ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background: var(--base-color);

  position: absolute;
  left: 0;
  bottom: -1rem;

  transition: width 0.2s;
}

nav ul li a:hover::after,
nav ul li a.active:hover {
  width: 100%;
}

nav .menu {
  opacity: 0;
  visibility: hidden;
  top: -20rem;
  transition: 0.2s;
}

nav .menu ul {
  display: none;
}

/* Mostrar Menu*/
nav.show .menu {
  opacity: 1;
  visibility: visible;

  background: var(--body-color);

  height: 100vh;
  width: 60%;

  position: fixed;
  top: 0;
  right: 0;

  display: grid;
  place-content: center;
}

nav.show .menu ul {
  display: grid;
}

nav.show ul.grid {
  gap: 2rem;
}

/* toggle menu */
.toggle {
  color: var(--base-color);
  font-size: 1.5rem;
  cursor: pointer;
}

nav .icon-TypeX {
  visibility: hidden;
  opacity: 0;

  position: absolute;
  top: -1.7rem;
  right: 1.7rem;

  transition: 0.2s;
}

nav.show div.icon-TypeX {
  visibility: visible;
  opacity: 1;
  top: 1.7rem;
}

/*======== Section =========*/

.col {
  display: flex;
}

/* Responsive */
/*========= MEDIA QUERIES ======================*/
/* extra large devices: 1200 > */
@media (min-width: 1200px) {
  :root {
    --title-font-size: 2.625rem;
    --label-font-size: 1rem;
    --input-font-size: 0.875rem;
  }
  /* reusable classes */
  .container {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  main {
    display: flex;
    justify-content: center;
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }

  form {
    margin-right: 13.5rem;
  }

  .text {
    display: flex;
    justify-content: center;
  }

  img {
    height: 22.26rem;
    width: 26.55rem;
  }

  .icon-TypeBack-Left {
    padding-right: 4rem;
  }

  .icon-TypeLogout {
    display: flex;
    opacity: 1;
    visibility: visible;
    color: var(--text-color);
  }

  #leave {
    display: none;
    visibility: hidden;
  }

  /* navigation */
  nav .menu {
    opacity: 1;
    visibility: visible;
    top: 0;
  }

  nav .menu ul {
    display: flex;
    gap: 2rem;
  }

  nav .menu ul li a.title {
    font: 400 1rem var(--body-font-bold);
    -webkit-font-smoothing: antialiased;
  }

  nav .menu ul li a.title.active {
    font-weight: bold;
    -webkit-font-smoothing: auto;
  }

  nav .icon-TypeMenu {
    display: none;
  }
}

/* large devices: tablet > */
@media only screen and (min-width: 425px) and (max-device-width: 1199px) {
  .sucess-container {
    max-width: 27rem;
    margin-left: auto;
    margin-right: auto;
  }
}
