.row {
  display: grid;
}

.row-1 {
  display: flex;
}

.col {
  height: 30px;
  grid-template-rows: 30px 1fr;
  background-color: gray;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
}

.col-1 {
  flex: 1;
  margin: 5px;
  height: 30px;
  grid-template-rows: 30px 1fr;
  background-color: gray;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 20px;
}

.card {
  max-width: 500px;
  margin: auto;
  background-color: #fff;
  border: solid 1px #000;
  border-radius: 20px;
  padding: 20px;
}

.button {
  background-color: gray;
  color: var(--text-color-light);
  height: 3.5rem;
  display: inline-flex;
  align-items: center;
  padding: 0 2rem;
  border-radius: 0.25rem;
  font: 500 1rem var(--body-font);
  transition: background 0.3s;
}

.btn {
  text-align: center;
  margin-top: 10px;
}
